<div data-role="page" id="cantina">
	<header data-role="header">
		<h1><%= name %></h1>
	</header>
	<div style="word-wrap:break-word;">
	 <%= content %>
	</div>
	 <footer data-role="footer" data-position="fixed">
		<nav data-role="navbar">
			<ul>
				<li><a href="#cantinas" data-icon="home">Hjem</a></li>
				<li><a href="#info" data-icon="info">Info</a></li>
			</ul>
		</nav>
	</footer>
</div>